body {
    background: whitesmoke;
}

h1, h2, h3, span, a {
    font-family: 'VT323', monospace;
}

@keyframes slide-up-animation {
    0% {
        transform: translateY(100vh);
    }
    100% {
        transform: translateY(0vh);
    }
}

.slide-up-animation {
    animation: slide-up-animation 2s 1 0s ease;
}

@keyframes fade-in-animation {
    0% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
}

.fade-in-animation {
    animation: fade-in-animation 2s 1 0s ease;
}


.emph-text {
    text-align: center;
    font-size: 4.5rem;
    text-transform: capitalize;
    display: flex;
    align-items: center;
}

.emph-text>a {
    color: black;
}

.navbar-main-content-divider {
    margin-top: 5vh;
}




.organization-logo {
    width: 15vw;
}